body {
  background: #9bc4fa;
  font-family: sans-serif;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}
::selection {
  box-sizing: border-box;
}
.searchHeader {
  margin-top: 10rem;
}
.searchInput {
  border-radius: 1rem;
  box-shadow: 8px 6px 11px #81a6f6;
  margin-bottom: 4rem;
  padding: 1rem 1.5rem !important;
}

::-webkit-input-placeholder {
  font-size: 15px;
}
.result {
  background: #fff;
  padding: 16px;
  border-radius: 1rem;
  box-shadow: 8px 6px 11px #81a6f6;
  margin-bottom: 1rem;
}
.result h1 {
  font-size: 28px;
  color: #646968;
  font-weight: bold;
}
.result p {
  font-size: 16px;
  color: #2f302f;
}
.result p .searchmatch {
  font-weight: bold;
  color: #72a5f8;
}
.result a {
  background: #2b01a0;
  color: #fff;
  font-weight: 500;
  border-radius: 1rem;
  transition: all 0.5s ease-in;
  border: none;
  outline: none;
}
.result a:hover {
  background: #5825e4;
  color: #fff;
}
